/* @import url(/style/reset.css);
@import url(/style/theme.css);
@import url(/style/base.css); */

@import url(/theory/css/default.css);

/* 비트맵 이미지 */
.rwd-img {
  max-width: 100%;
  height: auto; /* 구형 브라우저를 위해 적음, 생략가능 */
}

/* 벡터 이미지 */
.rwd-svg {
  width: 100%;
  height: auto;
}

/* 이미지 컴포넌트 */
figure {
  background-color: yellow;
  margin: 0;
  /* width: 80%;
  inline-size: 80%; */

  img {
    max-width: 100%;
  }
}

/* 레이아웃 */
.box{
  width: 50%;
  inline-size: 50%;
}