<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shape-outside</title>
    <link
      href="https://cdn.jsdelivr.net/gh/sun-typeface/SUIT/fonts/variable/woff2/SUIT-Variable.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/components/css/shape-outside.css" />
  </head>
  <body>
    <h1>shape-outside</h1>
    <figure>
      <img src="/images/faces/jiwon.jpeg" alt="김지원" />
    </figure>
    <p>그녀는 다시 침대 안으로 들어갔고 곧 다시 잠이 들었다. 그런데 잠들기 직전에 아버지와의 추억이 하나 더 떠올랐다. 일요일이었고, 온 식구가 할머니의 집에 모여 점심식사를 하고 있었다. 벌써 열네 살도 넘은 무렵이었을 것이다. 그녀는 학교에서 내준 숙제의 진도가 잘 안 나가자, 자기는 하는 일마나 모두 엉망이 돼버린다며 투덜거렸다. &quot;어쩌면 그런 실패에서 뭔가 배울 수도 있겠지..&quot; 아버지가 말했다. 하지만 브리다는 그렇지 않다며, 애초에 잘못된 방법으로 일을 시작해버렸으니 이제는 방법이 없다고 우겼다. 아버지는 그녀의 손을 잡고, 주로 할머니가 텔레비전을 보는 거실로 데리고 갔다. 거기에는 커다란 골동품 괘종시계가 걸려 있었다. 그 시계는 부속품이 없어 몇 년 전부터 멈춰 있었다. &quot;얘야, 이 세상에 완전히 잘못된 건 없단다.&quot; 아버지는 시계를 바라보며 말했다. &quot;멈춰서 있는 시계조차 하루에 두 번은 시간이 맞잖니.&quot;</p>
    <p>그녀는 다시 침대 안으로 들어갔고 곧 다시 잠이 들었다. 그런데 잠들기 직전에 아버지와의 추억이 하나 더 떠올랐다. 일요일이었고, 온 식구가 할머니의 집에 모여 점심식사를 하고 있었다. 벌써 열네 살도 넘은 무렵이었을 것이다. 그녀는 학교에서 내준 숙제의 진도가 잘 안 나가자, 자기는 하는 일마나 모두 엉망이 돼버린다며 투덜거렸다. &quot;어쩌면 그런 실패에서 뭔가 배울 수도 있겠지..&quot; 아버지가 말했다. 하지만 브리다는 그렇지 않다며, 애초에 잘못된 방법으로 일을 시작해버렸으니 이제는 방법이 없다고 우겼다. 아버지는 그녀의 손을 잡고, 주로 할머니가 텔레비전을 보는 거실로 데리고 갔다. 거기에는 커다란 골동품 괘종시계가 걸려 있었다. 그 시계는 부속품이 없어 몇 년 전부터 멈춰 있었다. &quot;얘야, 이 세상에 완전히 잘못된 건 없단다.&quot; 아버지는 시계를 바라보며 말했다. &quot;멈춰서 있는 시계조차 하루에 두 번은 시간이 맞잖니.&quot;</p>
    <p>그녀는 다시 침대 안으로 들어갔고 곧 다시 잠이 들었다. 그런데 잠들기 직전에 아버지와의 추억이 하나 더 떠올랐다. 일요일이었고, 온 식구가 할머니의 집에 모여 점심식사를 하고 있었다. 벌써 열네 살도 넘은 무렵이었을 것이다. 그녀는 학교에서 내준 숙제의 진도가 잘 안 나가자, 자기는 하는 일마나 모두 엉망이 돼버린다며 투덜거렸다. &quot;어쩌면 그런 실패에서 뭔가 배울 수도 있겠지..&quot; 아버지가 말했다. 하지만 브리다는 그렇지 않다며, 애초에 잘못된 방법으로 일을 시작해버렸으니 이제는 방법이 없다고 우겼다. 아버지는 그녀의 손을 잡고, 주로 할머니가 텔레비전을 보는 거실로 데리고 갔다. 거기에는 커다란 골동품 괘종시계가 걸려 있었다. 그 시계는 부속품이 없어 몇 년 전부터 멈춰 있었다. &quot;얘야, 이 세상에 완전히 잘못된 건 없단다.&quot; 아버지는 시계를 바라보며 말했다. &quot;멈춰서 있는 시계조차 하루에 두 번은 시간이 맞잖니.&quot;</p>
    <p>그녀는 다시 침대 안으로 들어갔고 곧 다시 잠이 들었다. 그런데 잠들기 직전에 아버지와의 추억이 하나 더 떠올랐다. 일요일이었고, 온 식구가 할머니의 집에 모여 점심식사를 하고 있었다. 벌써 열네 살도 넘은 무렵이었을 것이다. 그녀는 학교에서 내준 숙제의 진도가 잘 안 나가자, 자기는 하는 일마나 모두 엉망이 돼버린다며 투덜거렸다. &quot;어쩌면 그런 실패에서 뭔가 배울 수도 있겠지..&quot; 아버지가 말했다. 하지만 브리다는 그렇지 않다며, 애초에 잘못된 방법으로 일을 시작해버렸으니 이제는 방법이 없다고 우겼다. 아버지는 그녀의 손을 잡고, 주로 할머니가 텔레비전을 보는 거실로 데리고 갔다. 거기에는 커다란 골동품 괘종시계가 걸려 있었다. 그 시계는 부속품이 없어 몇 년 전부터 멈춰 있었다. &quot;얘야, 이 세상에 완전히 잘못된 건 없단다.&quot; 아버지는 시계를 바라보며 말했다. &quot;멈춰서 있는 시계조차 하루에 두 번은 시간이 맞잖니.&quot;</p>
    <p>그녀는 다시 침대 안으로 들어갔고 곧 다시 잠이 들었다. 그런데 잠들기 직전에 아버지와의 추억이 하나 더 떠올랐다. 일요일이었고, 온 식구가 할머니의 집에 모여 점심식사를 하고 있었다. 벌써 열네 살도 넘은 무렵이었을 것이다. 그녀는 학교에서 내준 숙제의 진도가 잘 안 나가자, 자기는 하는 일마나 모두 엉망이 돼버린다며 투덜거렸다. &quot;어쩌면 그런 실패에서 뭔가 배울 수도 있겠지..&quot; 아버지가 말했다. 하지만 브리다는 그렇지 않다며, 애초에 잘못된 방법으로 일을 시작해버렸으니 이제는 방법이 없다고 우겼다. 아버지는 그녀의 손을 잡고, 주로 할머니가 텔레비전을 보는 거실로 데리고 갔다. 거기에는 커다란 골동품 괘종시계가 걸려 있었다. 그 시계는 부속품이 없어 몇 년 전부터 멈춰 있었다. &quot;얘야, 이 세상에 완전히 잘못된 건 없단다.&quot; 아버지는 시계를 바라보며 말했다. &quot;멈춰서 있는 시계조차 하루에 두 번은 시간이 맞잖니.&quot;</p>
    <p>그녀는 다시 침대 안으로 들어갔고 곧 다시 잠이 들었다. 그런데 잠들기 직전에 아버지와의 추억이 하나 더 떠올랐다. 일요일이었고, 온 식구가 할머니의 집에 모여 점심식사를 하고 있었다. 벌써 열네 살도 넘은 무렵이었을 것이다. 그녀는 학교에서 내준 숙제의 진도가 잘 안 나가자, 자기는 하는 일마나 모두 엉망이 돼버린다며 투덜거렸다. &quot;어쩌면 그런 실패에서 뭔가 배울 수도 있겠지..&quot; 아버지가 말했다. 하지만 브리다는 그렇지 않다며, 애초에 잘못된 방법으로 일을 시작해버렸으니 이제는 방법이 없다고 우겼다. 아버지는 그녀의 손을 잡고, 주로 할머니가 텔레비전을 보는 거실로 데리고 갔다. 거기에는 커다란 골동품 괘종시계가 걸려 있었다. 그 시계는 부속품이 없어 몇 년 전부터 멈춰 있었다. &quot;얘야, 이 세상에 완전히 잘못된 건 없단다.&quot; 아버지는 시계를 바라보며 말했다. &quot;멈춰서 있는 시계조차 하루에 두 번은 시간이 맞잖니.&quot;</p>
  </body>
</html>